# Statistical Methods in Pandas - Lab

## Introduction

In this lesson you'll get some hands-on experience using some of the key summary statistics methods in Pandas.

## Objectives
You will be able to:

* Understand and use the df.describe() and df.info() summary statistics methods
* Use built-in Pandas methods for calculating summary statistics (.mean(), .std(), .count(), .sum(), .mean(), .median(), .std(), .var() and .quantile())
* Apply a function to every element in a Series or DataFrame using s.apply() and df.applymap()


## Getting Started

For this lab, we'll be working with a dataset containing information on various lego datasets.  You will find this dataset in the file `lego_sets.csv`.  

In the cell below:

* Import pandas and set the standard alias of `pd`
* Load in the `lego_sets.csv` dataset using the `read_csv()` function
* Display the head of the DataFrame to get a feel for what we'll be working with

In [3]:
import pandas as pd
df = pd.read_csv('lego_sets.csv')

In [4]:
df.head()

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US
2,6-12,12.99,11.0,74.0,4.3,Chase the piggy with lightning-fast Chuck and ...,75821.0,Pitch speedy bird Chuck against the Piggy Car....,Easy,Piggy Car Escape,4.3,Angry Birds™,4.1,US
3,12+,99.99,23.0,1032.0,3.6,Explore the architecture of the United States ...,21030.0,Discover the architectural secrets of the icon...,Average,United States Capitol Building,4.6,Architecture,4.3,US
4,12+,79.99,14.0,744.0,3.2,Recreate the Solomon R. Guggenheim Museum® wit...,21035.0,Discover the architectural secrets of Frank Ll...,Challenging,Solomon R. Guggenheim Museum®,4.6,Architecture,4.1,US

## Getting DataFrame-Level Statistics

We'll begin by getting some overall summary statistics on the dataset.  There are two ways we'll get this information-- `.info()` and `.describe()`.

### Using `.info()`

The `.info()` method provides us metadata on the DataFrame itself.  This allows to answer questions such as:

* What data type does each column contain?
* How many rows are in my dataset? 
* How many total non-missing values does each column contain?
* How much memory does the DataFrame take up?

In the cell below, call our DataFrame's `.info()` method.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
ages                 12261 non-null object
list_price           12261 non-null float64
num_reviews          10641 non-null float64
piece_count          12261 non-null float64
play_star_rating     10486 non-null float64
prod_desc            11884 non-null object
prod_id              12261 non-null float64
prod_long_desc       12261 non-null object
review_difficulty    10206 non-null object
set_name             12261 non-null object
star_rating          10641 non-null float64
theme_name           12258 non-null object
val_star_rating      10466 non-null float64
country              12261 non-null object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

#### Interpreting the Results

Read the output above, and then answer the following questions:

How many total rows are in this DataFrame?  How many columns contain numeric data? How many contain categorical data?  Identify at least 3 columns that contain missing values. 

Write your answer below this line:
________________________________________________________________________________________________________________________________

Answer question here...

## Using `.describe()`

Whereas `.info()` provides statistics about the DataFrame itself, `.describe()` returns output containing basic summary statistics about the data contained with the DataFrame.  

In the cell below, call the DataFrame's `.describe()` method.

In [6]:
df.describe(include = 'all')

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
count,12261,12261.000000,10641.000000,12261.000000,10486.000000,11884,1.226100e+04,12261,10206,12261,10641.000000,12258,10466.000000,12261
unique,31,NaN,NaN,NaN,NaN,731,NaN,988,5,741,NaN,40,NaN,21
top,6-12,NaN,NaN,NaN,NaN,Growl like a Wookiee with a LEGO® BrickHeadz™ ...,NaN,Stage a face-off between Batgirl™ and Harley Q...,Easy,Chewbacca™,NaN,Star Wars™,NaN,US
freq,1476,NaN,NaN,NaN,NaN,42,NaN,42,4236,63,NaN,1377,NaN,817
mean,NaN,65.141998,16.826238,493.405921,4.337641,NaN,5.983675e+04,NaN,NaN,NaN,4.514134,NaN,4.228960,NaN
std,NaN,91.980429,36.368984,825.364580,0.652051,NaN,1.638115e+05,NaN,NaN,NaN,0.518865,NaN,0.660282,NaN
min,NaN,2.272400,1.000000,1.000000,1.000000,NaN,6.300000e+02,NaN,NaN,NaN,1.800000,NaN,1.000000,NaN
25%,NaN,19.990000,2.000000,97.000000,4.000000,NaN,2.103400e+04,NaN,NaN,NaN,4.300000,NaN,4.000000,NaN
50%,NaN,36.587800,6.000000,216.000000,4.500000,NaN,4.206900e+04,NaN,NaN,NaN,4.700000,NaN,4.300000,NaN
75%,NaN,70.192200,13.000000,544.000000,4.800000,NaN,7.092200e+04,NaN,NaN,NaN,5.000000,NaN,4.700000,NaN
max,NaN,1104.870000,367.000000,7541.000000,5.000000,NaN,2.000431e+06,NaN,NaN,NaN,5.000000,NaN,5.000000,NaN

#### Interpreting the Results

The output contains descriptive statistics corresponding to the columns.  Use these to answer the following questions:

How much is the standard deviation for piece count?  How many pieces are in the largest lego set?  How many in the smallest lego set? What is the median `val_star_rating`?

________________________________________________________________________________________________________________________________

Answer questions here...

## Getting Summary Statistics

Pandas also allows us to easily compute individual summary statistics using built-in methods.  Next, we'll get some practice using these methods. 

In the cell below, compute the median value of the `star_rating` column.

In [7]:
df.star_rating.median()

4.7

Next, get a count of the total number of values in `play_star_rating`.

In [8]:
df.play_star_rating.value_counts().sum()

10486

Now, compute the standard deviation of the `list_price` column.

In [9]:
df.list_price.std()

91.9804293059243

If we bought every single lego set in this dataset, how many pieces would we have?  Use the `.sum()` method on the correct column to compute this.

In [10]:
df.piece_count.sum()

6049650.0

Now, let's try getting the value for the 90% quantile.  Do this in the cell below.

In [11]:
df.quantile(q=.05)

list_price             10.1322
num_reviews             1.0000
piece_count            15.0000
play_star_rating        3.0000
prod_id             10693.0000
star_rating             3.5000
val_star_rating         3.0000
Name: 0.05, dtype: float64

## Getting Summary Statistics on Categorical Data

For obvious reasons, most of the methods we've used so far only work with numerical data--there's no way to calculate the standard deviation of a column containing string values. However, there are some things that we can discover about columns containing categorical data. 

In the cell below, get the `.unique()` values contained within the `review_difficulty` column.

In [12]:
df.review_difficulty.unique()

array(['Average', 'Easy', 'Challenging', 'Very Easy', nan,
       'Very Challenging'], dtype=object)

Now, let's get the `value_counts` for this column, to see how common each is.

In [13]:
df.review_difficulty.value_counts()

Easy                4236
Average             3765
Very Easy           1139
Challenging         1058
Very Challenging       8
Name: review_difficulty, dtype: int64

As you can see, these provide us quick and easy ways to get information on columns containing categorical information.  


## Using `.applymap()`

When working with pandas DataFrames, we can quickly compute functions on the data contained by using the `applymap()` function and passing in a lambda function. 

For instance, we can use `applymap()` to return a version of the DataFrame where every value has been converted to a string.

In the cell below:

* Call our DataFrame's `.applymap()` function and pass in `lambda x: str(x)`
* Call our new `string_df` object's `.info()` method to confirm that everything has been cast to a string

In [14]:
string_df = lambda x: str(x)
string_df(df)

"       ages  list_price  num_reviews  piece_count  play_star_rating  \\\n0      6-12     29.9900          2.0        277.0               4.0   \n1      6-12     19.9900          2.0        168.0               4.0   \n2      6-12     12.9900         11.0         74.0               4.3   \n3       12+     99.9900         23.0       1032.0               3.6   \n4       12+     79.9900         14.0        744.0               3.2   \n5       12+     59.9900          7.0        597.0               3.7   \n6       12+     59.9900         37.0        598.0               3.7   \n7       12+     49.9900         24.0        780.0               4.4   \n8       12+     39.9900         23.0        468.0               3.6   \n9       12+     39.9900         11.0        444.0               3.6   \n10      12+     39.9900         14.0        386.0               4.1   \n11      12+     34.9900         53.0        321.0               3.2   \n12      12+     29.9900          7.0        361.0               4.2   \n13     7-12    159.9900         63.0        847.0               3.8   \n14      10+     29.9900         13.0        708.0               4.7   \n15      10+     19.9900          1.0        234.0               3.0   \n16      10+     19.9900          1.0        160.0               5.0   \n17      10+      9.9900          1.0        149.0               2.0   \n18      10+      9.9900          1.0        141.0               2.0   \n19      10+      9.9900          3.0        101.0               4.0   \n20      10+      9.9900          2.0        105.0               3.0   \n21      10+      9.9900          1.0        113.0               5.0   \n22      10+      9.9900          1.0        136.0               NaN   \n23      10+      9.9900          2.0         91.0               3.0   \n24      10+      9.9900          7.0        140.0               3.2   \n25      10+      9.9900          5.0        143.0               4.6   \n26      10+      9.9900          3.0        122.0               2.7   \n27      10+      9.9900          5.0        130.0               4.3   \n28      10+      9.9900          3.0        119.0               4.5   \n29      10+      9.9900          1.0        135.0               1.0   \n...     ...         ...          ...          ...               ...   \n12231  7-14     48.7878          5.0        267.0               3.6   \n12232  7-14     48.7878         12.0        293.0               4.9   \n12233  8-14     42.6878         24.0        305.0               4.5   \n12234  7-14     42.6878         18.0        254.0               4.2   \n12235  7-14     30.4878          2.0        198.0               4.0   \n12236  7-14     30.4878          8.0        204.0               4.1   \n12237  7-14     30.4878         19.0        201.0               4.1   \n12238  6-12     18.2878          7.0        141.0               4.0   \n12239  6-12     18.2878         18.0        124.0               4.5   \n12240    5+      4.8678         13.0          8.0               4.3   \n12241  8-14    103.6878          9.0        643.0               4.4   \n12242   16+    365.9878         88.0       4867.0               4.8   \n12243  9-14    225.6878         52.0       2295.0               4.7   \n12244  9-14    134.1878         15.0       1403.0               4.5   \n12245  9-14    103.6878          9.0        830.0               4.6   \n12246  9-14    103.6878         11.0       1202.0               4.7   \n12247  9-14     97.5878          6.0        914.0               4.8   \n12248  9-14     97.5878         19.0        944.0               3.6   \n12249  9-14     82.9478          8.0        876.0               4.7   \n12250  8-14     73.1878          8.0        747.0               4.3   \n12251  8-14     60.9878          7.0        521.0               4.7   \n12252  8-14     60.9878         29.0        544.0               4.6   \n12253  8-14     48.7878         21.0        494.0               4.6   \n12254  7-14     36.5878         10.0        312.0               3.5   \n12255  8-14     36.5878          8.0        341.0               4.2   \n12256  7-14     36.5878          6.0        341.0               4.4   \n12257  7-14     24.3878          8.0        217.0               4.1   \n12258  7-14     24.3878         18.0        233.0               4.6   \n12259  6-14     12.1878          1.0         48.0               5.0   \n12260  6-14     12.1878         11.0        109.0               4.5   \n\n                                               prod_desc  prod_id  \\\n0      Catapult into action and take back the eggs fr...  75823.0   \n1      Launch a flying attack and rescue the eggs fro...  75822.0   \n2      Chase the piggy with lightning-fast Chuck and ...  75821.0   \n3      Explore the architecture of the United States ...  21030.0   \n4      Recreate the Solomon R. Guggenheim Museum® wit...  21035.0   \n5      Celebrate Shanghai with this LEGO® Architectur...  21039.0   \n6      Celebrate New York City with this LEGO® Archit...  21028.0   \n7      Recreate Buckingham Palace with LEGO® Architec...  21029.0   \n8      Celebrate London with this LEGO® Architecture ...  21034.0   \n9      Celebrate Chicago with this LEGO® Architecture...  21033.0   \n10       Experience the grandeur of the Arc de Triomphe!  21036.0   \n11     Build your own LEGO® interpretation of the ico...  21019.0   \n12     Celebrate Sydney with this LEGO® Architecture ...  21032.0   \n13                   Bring your LEGO® creations to life!  17101.0   \n14         Build a LEGO® BrickHeadz version of yourself!  41597.0   \n15     Train a raptor with LEGO® BrickHeadz™ Owen and...  41614.0   \n16     Join Mr. Incredible and Frozone for LEGO® Bric...  41613.0   \n17     Growl like a Wookiee with a LEGO® BrickHeadz™ ...  41609.0   \n18     Be a rogue with a LEGO® BrickHeadz™ constructi...  41608.0   \n19     Save the universe with LEGO® BrickHeadz Iron M...  41604.0   \n20     Feel the power of Infinity with LEGO® BrickHea...  41605.0   \n21     Be a legendary outlaw with LEGO® BrickHeadz St...  41606.0   \n22     Master the skills of a green-skinned assassin ...  41607.0   \n23     Join the Resistance with a LEGO® BrickHeadz co...  41485.0   \n24     Say “I love you” with a LEGO® BrickHeadz™ Vale...  40270.0   \n25       Stand tall with LEGO® BrickHeadz Wonder Woman™!  41599.0   \n26     Live life in the fast lane with LEGO® BrickHea...  41598.0   \n27     Summon the dark side with a LEGO® BrickHeadz c...  41603.0   \n28     Feel the Force with a LEGO® BrickHeadz constru...  41602.0   \n29               Dive in with LEGO® BrickHeadz Aquaman™!  41600.0   \n...                                                  ...      ...   \n12231               Party on with Superman™ and friends!  70919.0   \n12232              Join Batman™ in a comical food fight!  70920.0   \n12233  Put the heat on The Penguin™ Arctic Roller wit...  70911.0   \n12234  Battle with Batman™ against The Riddler™ and h...  70903.0   \n12235  Bring down Captain Boomerang™ with Batman’s Ba...  70918.0   \n12236  Help Batman™ to stop Scarecrow™ delivering a s...  70910.0   \n12237  Protect the power plant from Mr. Freeze’s ice ...  70901.0   \n12238  Power into the sky to stop Scarecrow’s fear ga...  70913.0   \n12239             Help Batman™ stop The Joker™ escaping!  70900.0   \n12240  Discover new heroes and villains in LEGO® Mini...  71020.0   \n12241           Launch a space mission from the Batcave!  70923.0   \n12242         Live the life of a ninja in NINJAGO® City!  70620.0   \n12243            Join the ninja aboard Wu’s flying ship!  70618.0   \n12244                 Evade the traps inside the Temple!  70617.0   \n12245  Defend NINJAGO® City from Garmadon Shark Mech ...  70656.0   \n12246   Turn sound into a weapon with Cole’s Quake Mech!  70632.0   \n12247       Take on the shark army with Zane’s Ice Tank!  70616.0   \n12248  Put the heat on the shark army with Kai’s Fire...  70615.0   \n12249      Speed to the rescue with Jay’s Lightning Jet!  70614.0   \n12250      Defend NINJAGO® City against Garma Mecha Man!  70613.0   \n12251       Get all fired up at Garmadon’s Volcano Lair!  70631.0   \n12252  Take on Garmadon with the Green Ninja Mech Dra...  70612.0   \n12253  Smash the shark army out of the water with the...  70611.0   \n12254  Battle against evil Jungle Garmadon on the jun...  70608.0   \n12255  Take on the tentacular Flying Jelly Sub with Jay!  70610.0   \n12256  Protect NINJAGO® City from flying Manta Ray Bo...  70609.0   \n12257         Stop a Piranha Attack with Kai and Misako!  70629.0   \n12258   Stop a crime in the NINJAGO® City street market!  70607.0   \n12259  Achieve Spinjitzu greatness with the Green Ninja!  70628.0   \n12260  Practice your Spinjitzu skills with Kai and Zane!  70606.0   \n\n                                          prod_long_desc review_difficulty  \\\n0      Use the staircase catapult to launch Red into ...           Average   \n1      Pilot Pig has taken off from Bird Island with ...              Easy   \n2      Pitch speedy bird Chuck against the Piggy Car....              Easy   \n3      Discover the architectural secrets of the icon...           Average   \n4      Discover the architectural secrets of Frank Ll...       Challenging   \n5      Recreate Shanghai in China's blend of historic...           Average   \n6      Celebrate the architectural diversity of New Y...           Average   \n7      Build a LEGO® brick model of London's official...           Average   \n8      Celebrate the architectural diversity of Londo...           Average   \n9      Recreate Chicago’s blend of historical and mod...           Average   \n10     Capture the architectural elegance of one of t...           Average   \n11     Presenting the LEGO® Architecture interpretati...           Average   \n12     Capture the architectural essence and splendor...              Easy   \n13     Take your LEGO® play to the next level with th...           Average   \n14     Fuel your creativity by making a LEGO® BrickHe...           Average   \n15     These LEGO® BrickHeadz™ 41614 Owen & Blue cons...              Easy   \n16     These LEGO® BrickHeadz™ 41613 Mr. Incredible &...         Very Easy   \n17     This LEGO® BrickHeadz™ 41609 Chewbacca is fun ...         Very Easy   \n18     This LEGO® BrickHeadz™ 41608 Han Solo is fun t...         Very Easy   \n19     This Iron Man MK50 LEGO® BrickHeadz constructi...           Average   \n20     This Thanos LEGO® BrickHeadz construction char...              Easy   \n21     This Star-Lord LEGO® BrickHeadz construction c...              Easy   \n22     This Gamora LEGO® BrickHeadz construction char...               NaN   \n23     This LEGO® BrickHeadz construction character f...              Easy   \n24     Build your way to someone’s heart and say “Bee...              Easy   \n25     This Wonder Woman™ LEGO® BrickHeadz constructi...              Easy   \n26     The Flash™ LEGO® BrickHeadz construction chara...         Very Easy   \n27     This LEGO® BrickHeadz construction character f...              Easy   \n28     This LEGO® BrickHeadz construction character f...              Easy   \n29     This Aquaman™ LEGO® BrickHeadz construction ch...         Very Easy   \n...                                                  ...               ...   \n12231  Recreate the hilarious scene from THE LEGO® BA...              Easy   \n12232  Help Batman™ fend off Egghead™ and Condiment K...           Average   \n12233  Join Batman’s pursuit of The Penguin in THE LE...              Easy   \n12234  Take on four Super-Villains at once in THE LEG...              Easy   \n12235  Glide over bumps in the Gotham City streets an...               NaN   \n12236  Save Gotham City Energy Facility from a fear g...           Average   \n12237  Help Batman™ defend the Gotham City Energy Fac...              Easy   \n12238  Team up with Batman™ to stop Scarecrow™ spread...              Easy   \n12239  Stage a face-off between The Joker™ and Batman...              Easy   \n12240  Bring exciting new play possibilities to exist...         Very Easy   \n12241  Take off from the Batcave in The Bat-Space Shu...           Average   \n12242  Enjoy endless role-play fun in NINJAGO® City, ...       Challenging   \n12243  Construct Wu’s huge ninja training base, Desti...       Challenging   \n12244  Join a ninja mission to infiltrate THE LEGO® N...           Average   \n12245  Help Lloyd to save Nomis and Nancy from Garmad...           Average   \n12246  Fire ‘soundwaves’ from Cole’s Quake Mech to sa...           Average   \n12247  Help Zane save Patty Keys and Torben from the ...           Average   \n12248  Get set for sizzling battle action with this h...           Average   \n12249  Save Ed and Edna from the shark army’s crab wi...           Average   \n12250  Help Lloyd protect civilian Pat from attack by...           Average   \n12251  Join Zane’s mission to infiltrate evil Garmado...           Average   \n12252  Outwit The Green Ninja’s evil father Garmadon ...           Average   \n12253  Launch into battle against the shark army and ...           Average   \n12254  Team up with Wu and Kai to take on Jungle Garm...              Easy   \n12255  Join ninja Jay in battle against the shark arm...           Average   \n12256  Help Cole save Shen-Li in this cool THE LEGO® ...              Easy   \n12257  Play out an action-packed Piranha Mech pursuit...              Easy   \n12258  Team up with Lloyd Garmadon, Nya and Officer T...              Easy   \n12259  Learn all the skills of Spinjitzu with THE LEG...         Very Easy   \n12260  Join the ninja heroes at the dojo with this ac...              Easy   \n\n                                     set_name  star_rating  \\\n0                       Bird Island Egg Heist          4.5   \n1                          Piggy Plane Attack          5.0   \n2                            Piggy Car Escape          4.3   \n3              United States Capitol Building          4.6   \n4               Solomon R. Guggenheim Museum®          4.6   \n5                                    Shanghai          4.9   \n6                               New York City          4.2   \n7                           Buckingham Palace          4.7   \n8                                      London          4.7   \n9                                     Chicago          4.8   \n10                            Arc de Triomphe          4.4   \n11                           The Eiffel Tower          4.6   \n12                                     Sydney          4.6   \n13                     BOOST Creative Toolbox          3.4   \n14                                Go Brick Me          4.8   \n15                                Owen & Blue          5.0   \n16                   Mr. Incredible & Frozone          5.0   \n17                                 Chewbacca™          3.0   \n18                                  Han Solo™          4.0   \n19                              Iron Man MK50          4.7   \n20                                     Thanos          5.0   \n21                                  Star-Lord          5.0   \n22                                     Gamora          5.0   \n23                                       Finn          4.5   \n24                            Valentine's Bee          4.9   \n25                              Wonder Woman™          5.0   \n26                                 The Flash™          4.0   \n27                                  Kylo Ren™          5.0   \n28                                        Rey          5.0   \n29                                   Aquaman™          4.0   \n...                                       ...          ...   \n12231   The Justice League™ Anniversary Party          3.2   \n12232                Egghead™ Mech Food Fight          4.8   \n12233              The Penguin™ Arctic Roller          4.8   \n12234               The Riddler™ Riddle Racer          4.2   \n12235                      The Bat-Dune Buggy          4.5   \n12236             Scarecrow™ Special Delivery          4.4   \n12237                  Mr. Freeze™ Ice Attack          4.6   \n12238             Scarecrow™ Fearful Face-off          4.1   \n12239               The Joker™ Balloon Escape          4.7   \n12240         THE LEGO® BATMAN MOVIE Series 2          4.8   \n12241                   The Bat-Space Shuttle          4.8   \n12242                           NINJAGO® City          4.9   \n12243                        Destiny's Bounty          4.9   \n12244  Temple of The Ultimate Ultimate Weapon          4.8   \n12245           garmadon, Garmadon, GARMADON!          4.9   \n12246                              Quake Mech          4.5   \n12247                                Ice Tank          4.8   \n12248                               Fire Mech          4.2   \n12249                           Lightning Jet          5.0   \n12250                         Garma Mecha Man          4.5   \n12251                 Garmadon's Volcano Lair          4.3   \n12252                 Green Ninja Mech Dragon          4.7   \n12253                           Water Strider          4.5   \n12254                            Master Falls          4.0   \n12255                        Flying Jelly Sub          4.6   \n12256                        Manta Ray Bomber          4.3   \n12257                          Piranha Attack          3.6   \n12258                     NINJAGO® City Chase          4.6   \n12259                Lloyd - Spinjitzu Master          5.0   \n12260                      Spinjitzu Training          4.7   \n\n                      theme_name  val_star_rating country  \n0                   Angry Birds™              4.0      US  \n1                   Angry Birds™              4.0      US  \n2                   Angry Birds™              4.1      US  \n3                   Architecture              4.3      US  \n4                   Architecture              4.1      US  \n5                   Architecture              4.4      US  \n6                   Architecture              4.1      US  \n7                   Architecture              4.3      US  \n8                   Architecture              4.1      US  \n9                   Architecture              4.5      US  \n10                  Architecture              3.6      US  \n11                  Architecture              4.4      US  \n12                  Architecture              4.2      US  \n13                         BOOST              3.5      US  \n14                    BrickHeadz              4.8      US  \n15                    BrickHeadz              5.0      US  \n16                    BrickHeadz              5.0      US  \n17                    BrickHeadz              4.0      US  \n18                    BrickHeadz              4.0      US  \n19                    BrickHeadz              4.5      US  \n20                    BrickHeadz              5.0      US  \n21                    BrickHeadz              5.0      US  \n22                    BrickHeadz              NaN      US  \n23                    BrickHeadz              4.0      US  \n24                    BrickHeadz              4.7      US  \n25                    BrickHeadz              5.0      US  \n26                    BrickHeadz              3.0      US  \n27                    BrickHeadz              4.8      US  \n28                    BrickHeadz              4.5      US  \n29                    BrickHeadz              3.0      US  \n...                          ...              ...     ...  \n12231     THE LEGO® BATMAN MOVIE              3.4      PT  \n12232     THE LEGO® BATMAN MOVIE              4.6      PT  \n12233     THE LEGO® BATMAN MOVIE              4.4      PT  \n12234     THE LEGO® BATMAN MOVIE              4.4      PT  \n12235     THE LEGO® BATMAN MOVIE              4.0      PT  \n12236     THE LEGO® BATMAN MOVIE              4.1      PT  \n12237     THE LEGO® BATMAN MOVIE              4.4      PT  \n

Note that everything--even the `NaN` values, has been cast to a string in the example above. 

Note that for pandas Series objects (such as a single column in a DataFrame), we can do the same thing using the `apply()` method.  

This is just one example of how we can quickly compute custom functions on our DataFrame--this will become especially useful when we learn how to **_normalize_** our datasets in a later section!

## Summary

In this lab, we learned how to:

* Understand and use the df.describe() and df.info() summary statistics methods
* Use built-in Pandas methods for calculating summary statistics (.mean(), .std(), .count(), .sum(), .mean(), .median(), .std(), .var() and .quantile())
* Apply a function to every element in a Series or DataFrame using s.apply() and df.applymap()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
ages                 12261 non-null object
list_price           12261 non-null float64
num_reviews          10641 non-null float64
piece_count          12261 non-null float64
play_star_rating     10486 non-null float64
prod_desc            11884 non-null object
prod_id              12261 non-null float64
prod_long_desc       12261 non-null object
review_difficulty    10206 non-null object
set_name             12261 non-null object
star_rating          10641 non-null float64
theme_name           12258 non-null object
val_star_rating      10466 non-null float64
country              12261 non-null object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB